#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  width: 80%
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 20px;
}

.answerList:hover, .answerList:focus {
  background-color:rgb(247, 213, 102); /*마우스를 갖다 대면 색이 변함*/
  color: whitesmoke;
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3deff+0,66affc+100 */
  background: #b3deff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b3deff 0%, #66affc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b3deff 0%, #66affc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b3deff 0%, #66affc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3deff', endColorstr='#66affc', GradientType=0);
  /* IE6-9 */
  border-radius: 20px;
}
