#simul_8{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_9{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_9{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_10{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_11{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_12{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_13{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_14{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_15{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_16{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_17{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_18{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_19{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_20{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_21{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_22{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_23{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_24{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_25{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_26{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_27{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_28{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_29{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_30{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_31{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_32{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_33{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_34{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_35{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_36{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_37{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_38{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_39{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_40{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_41{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_42{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_43{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_44{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_45{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_46{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_47{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_48{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_49{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_50{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_51{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_52{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_53{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_54{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_55{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_56{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_57{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_58{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_59{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_60{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
#simul_61{display: none;width: 80%;text-align: center; border-radius: 20px;}p{font-size: 20px;}
